<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header
      class="masthead mb-0"
      style="background-image: url('/img/byob-collage-1.jpg');"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Create New Post</h1>
              <span class="subheading font-kalam">Tell us a story.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Alert -->

    <div class="alert alert__row">
      <div
        class="col-lg-8 col-md-10 mx-auto font-kalam m-0 d-flex justify-content-center align-items-center"
      >
        <div class="alert__message">
          Posts require a title, body, and image. 😄
        </div>
      </div>
    </div>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <% if(msg != null || '') { %>
          <ul class="list-group">
            <li class="list-group-item list-group-item-danger">
              <%= msg %>
            </li>
          </ul>
          <% } %>
          <form
            action="/posts/store"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  id="title"
                  name="title"
                  <% if(typeof title !== "undefined") {%>
                value="<%= title %>" <% } %> />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Description</label>
                <textarea
                  id="body"
                  rows="5"
                  class="form-control"
                  name="body"
                  placeholder="Description"
                ></textarea>
                <script>
                  $('#body').summernote({
                    placeholder: `I swear to tell the truth, the whole truth...`,
                    tabsize: 2,
                    height: 200,

                  });
                  if(typeof body !== 'undefined') {
                 $('textarea').html($('#summernote').code(body));
                }
                </script>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group control">
                <label>Image</label>
                <input
                  type="file"
                  id="image"
                  class="form-control mr-3"
                  name="image"
                />
              </div>
            </div>
            <br />
            <div id="success"></div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-custom"
                id="sendMessageButton"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
