<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('/img/byob-collage-1.jpg');"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Reset Password</h1>
              <span class="subheading font-kalam"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h3><%= typeof msg != 'undefined' ? msg : '' %></h3>
          <form
            id="password-reset-form"
            enctype="multipart/form-data"
          >
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>New Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="New Password"
                  id="password"
                  name="password"
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Confirm New Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm New Password"
                  id="passwordConfirm"
                  name="passwordConfirm"
                />
              </div>
            </div>

            <br />
            <div id="success"></div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-custom"
                id="submit"
              >
                Update Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
