<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('/img/byob-collage-1.jpg');"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <% if(msg != null || '') { %>
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-danger">
                          <%= msg %>
                        </li>
                      </ul>
                      <% } %>
                      <div class="d-flex justify-content-center">
                        <h4 class="font-kalam">Update Profile</h4>
                      </div>
                      <hr />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <form
                        action="/users/update-profile-info"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        <div class="form-group row">
                          <label for="name" class="col-4 col-form-label"
                            >Username</label
                          >
                          <div class="col-8">
                            <input
                              id="username"
                              name="username"
                              placeholder="Username"
                              class="form-control here"
                              type="text"
                            />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="email" class="col-4 col-form-label"
                            >Email</label
                          >
                          <div class="col-8">
                            <input
                              id="email"
                              name="email"
                              placeholder="Email"
                              class="form-control here"
                              type="email"
                            />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label for="publicinfo" class="col-4 col-form-label"
                            >Bio</label
                          >
                          <div class="col-8">
                            <textarea
                              id="bio"
                              name="bio"
                              cols="40"
                              rows="4"
                              class="form-control"
                              type="text"
                            ></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-4 col-8">
                            <button type="submit" class="btn btn-custom mt-3">
                              Update Info
                            </button>
                          </div>
                        </div>
                      </form>

                      <!-- PURCHASE NEW ROLE/TITLE -->
                      <div class="form-group row">
                        <div class="offset-4 col-8">
                          <a href="/store/upgrade-title">
                            <button type="submit" class="btn btn-custom mt-3">
                              Purchase New Title
                            </button>
                          </a>
                        </div>
                      </div>

                      <!-- Password Update -->
                      <label>Update Password</label>
                      <form
                        action="/users/update-current-password"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        <div class="form-group row">
                          <label for="email" class="col-4 col-form-label"
                            >Current Password</label
                          >
                          <div class="col-8">
                            <input
                              id="passwordCurrent"
                              name="email"
                              placeholder="Current Password"
                              class="form-control here"
                              type="password"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="email" class="col-4 col-form-label"
                            >New Password</label
                          >
                          <div class="col-8">
                            <input
                              id="password"
                              name="password"
                              placeholder="Email"
                              class="form-control here"
                              type="password"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="email" class="col-4 col-form-label"
                            >Confirm New Password</label
                          >
                          <div class="col-8">
                            <input
                              id="newPasswordConfirm"
                              name="passwordConfirm"
                              placeholder="Email"
                              class="form-control here"
                              type="password"
                            />
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-4 col-8">
                            <button type="submit" class="btn btn-custom mt-3">
                              Update Password
                            </button>
                          </div>
                        </div>
                      </form>
                      <!-- Profile Image Update -->
                      <label>Image</label>
                      <br />
                      <form
                        action="/users/update-profile-picture"
                        method="POST"
                        enctype="multipart/form-data"
                      >
                        <div
                          class="form-group floating-label-form-group control"
                        >
                          <input
                            type="file"
                            id="image"
                            class="form-control"
                            name="image"
                          />
                        </div>
                        <div class="form-group row">
                          <div class="offset-4 col-8">
                            <button type="submit" class="btn btn-custom mt-3">
                              Update Image
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
